*.data/
bin/
target/
.metadata
.project
.settings
.classpath
.idea
*.iml
*.war
*.jar
*.ear
*.log
*.wadl
node_modules/
atlassian-ide-plugin.xml
build/
standalone-dist/
dist/
webapp/
!webapp/WEB-INF
jsconfig.json
.vscode/
